# ============================================
# Universal Playwright API Framework Config
# ============================================

# Target Base API URL
BASE_URL=https://lambda-dev.mycoifeur.com.sa

# Default App / Custom Headers
CUSTOM_LANG=en
APP_VERSION=1.1.9
PLATFORM=android

# PostgreSQL Database Integration (For OTP & Status Verification)
DB_HOST=52.220.54.42
DB_PORT=5432
DB_NAME=mycoifeur_dev_db
DB_USER=mycoifeur_dev_user
DB_PASSWORD=gY2TDhhC3vBCeNN7SZQc

# Test Execution Behavior
CLEAN_TEST_DATA=false
CI=false
